*, *:before, *:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

button{
    border: none;
    outline: none;
    background: none;
    align-content: center;
}

img {
    width: 50%;
}

.container{
    text-align: center;
}

h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 3000px;
    line-height: 60px;
    color: #000000;
    padding: 50px;
}

button.register {
    width: 252px;
    height: 42px;
    background: #CCEEFB;
    border-radius: 8px;
}

button.login {
    width: 252px;
    height: 42px;
    background: #CCEEFB;
    border-radius: 8px;
}
